/* css module for projects */

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 1.5em;
  justify-content: space-between;
}
.projectImageContainer {
  padding: 2.5em 1em 1em 1em;
  background-color: #1a1a1a;
  border-radius: 20px;
  position: relative;
}
.border {
  border-radius: 20px;
  width: 100%;
}
.tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 1em;
}

.online,
.professional,
.incomplete,
.desktop {
  font-size: 0.8em;
  border: 1px solid green;
  padding: 0.2em 0.5em;
  color: green;
  font-weight: 700;
}
.professional {
  color: purple;
  border: 1px solid purple;
}
.incomplete {
  color: red;
  border: 1px solid red;
}
.desktop {
  color: yellow;
  border: 1px solid yellow;
}
.image {
  border-radius: 8px;
}
.projectBody {
  padding: 1.5em 0;
}
.projectTitle {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 38px;
  padding: 0.5em 0;
}
.desc {
  line-height: 30px;
  color: #c7c7c7;
  width: 100%;
  max-width: 1000px;
  font-size: 0.8em;
}
.moreInfo {
  padding: 1em 0;
}
.projectInfo,
.projectInfoDetails {
  padding: 1em 0;
  border-bottom: 1px solid #c7c7c7;
}
.projectInfoDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  color: #c7c7c7;
}

.linkSection {
  display: flex;
  gap: 2em;
}

.link {
  color: #d3e97a;
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: underline;
}
.link:link {
  font-size: 0.8em;
  text-decoration: underline;
  color: #d3e97a;
}

.link:visited {
  color: #d3e97a;
  text-decoration: underline;
}

.linkImage {
  width: 30px;
}

@media screen and (min-width: 580px) {
  .container {
    margin: auto;
  }
}
@media screen and (min-width: 700px) {
  .desc {
    width: 90%;
    max-width: 650px;
    font-size: 1em;
    text-align: left;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    flex-direction: row;

    width: 100%;
  }
  .projectImageContainer {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
    /* align-self: flex-start; */
  }
  .projectTitle {
    text-align: left;
  }
  .desc {
    margin: 0;
  }
}
