* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  font-size: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
a {
  text-underline-offset: 4px;
}
body {
  background-color: #0a0a0a;
  color: white;
  padding: 0 1em;
  /* border: 1px solid red; */
  width: 100vw;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}
button {
  border-radius: 50px;
  padding: 0;
  background-color: #d3e97a;
}
h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif; /* Use Roboto Condensed for headings */
}
.my-name {
  font-family: "Edu NSW ACT Hand Pre", cursive; /* Use the unique hand-drawn font for specific elements */
}
.NavList-desktop {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.NavList-desktop .NavItem .NavLink {
  /* border: 1px solid blue; */
  width: 100%;
  padding: 0.5em;
  display: block;
}
.NavLink:link {
  color: #c7c7c7;
  text-decoration: none;
}
.NavLink:visited {
  color: #c7c7c7;
  text-decoration: none;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  position: relative;
}

.image-ham {
  display: none;
}

/** styling for first section */
.image-skeleton {
  /* width: 100%;
  height: 100%; */
  /* border: 1px solid red; */
  margin: 0 auto;
  background-color: gray;
  border-radius: 10px;
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  min-height: 400px;
  max-height: 500px;
  max-width: 400px;
  min-width: 300px;
  width: 100%;
  height: 100%;
  /* display: flex; */
}
.First-section {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* max-width: 350px; */
  /* border: 1px solid red; */
}
.header {
  font-size: 2em;
  max-width: 330px;
  line-height: 45px;
  min-width: 300px;
}
.about-intro {
  line-height: 33px;
  font-weight: 400;
  min-width: 330px;
}
.linkedin {
  width: 50px;
}
.intro-contact {
  display: flex;
  align-items: center;
  gap: 0.5em;
  /* justify-content: space-between; */
  /* max-width: 400px; */
}
.First {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid gray;
  padding-bottom: 3em;
  min-height: 85vh;
  align-items: center;
  width: 100%;
  /* max-width: 1100px; */
  margin: 0 auto;
  /* border: 1px solid red; */
  /* max-width: 400px; */
}

.my-image {
  /* border: 1px solid green; */
  background: url("./assets//me//Stephen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.contact-me {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  background-color: #d3e97a;
  border-radius: 50px;
  font-size: 0.8em;
}
.contact-me:link {
  background-color: #d3e97a;
  text-decoration: none;
  color: black;
}
.contact-me:visited {
  background-color: #d3e97a;
  text-decoration: none;
  color: black;
}
.company {
  font-weight: bolder;
}
.arrow {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: black;
}

/* * connect styling */
.connect {
  padding: 1em 0;
}
.connect-body {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.connect-header {
  font-size: 1.5em;
}
.connect-text {
  color: #c7c7c7;
}
.connect-link,
.connect-link:visited,
.connect-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #d3e97a;
  color: #c7c7c7;
}
.connect-link:link {
  color: #c7c7c7;
}

/* * Second section styles */
.Second {
  padding: 1.5em 0;
  border-bottom: 1px solid #c7c7c7;
}
.second-article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.second-header {
  font-size: 1.5em;
  font-weight: 800;
}
.second-text {
  color: #c7c7c7;
  line-height: 28px;
  width: 90%;
  max-width: 500px;
  font-size: 0.9em;
}
.project-holder {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* * About section styling */
.about-section,
.capabilities-section {
  padding: 1em 0;
}
.about-title {
  display: none;
  min-width: 350px;
  width: 100%;
}
.about-text {
  color: #c7c7c7;
  line-height: 30px;
}
.about-article {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.about-text-head {
  display: none;
}

.more-about-link,
.more-about-link:hover,
.more-about-link:visited,
.more-about-link:link {
  color: #d3e97a;
  text-decoration: underline;
}
.connect-socials {
  display: flex;
  gap: 1em;
}
.socials-image {
  width: 30px;
}
.connect-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 0;
}
.form-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Input {
  padding: 12px 16px;
  background-color: rgba(78, 78, 78, 0.6);
  color: #c7c7c7;
  border-radius: 8px;
  font-size: 16px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.Input:focus-within {
  outline: none;
}
label {
  font-size: 16px;
}
.Submit {
  align-self: flex-start;
  padding: 0.7em;
  min-width: 200px;
  font-size: 1em;
  /* font-weight: 700; */
}
.connect-article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* ! About page styles */
.about-title-main {
  display: flex;
}
.about-title-main .about-title-head,
.capabilities-title {
  /* display: flex; */
  font-size: 2em;
}
.about-text-head-main {
  display: flex;
  font-weight: 500;
  /* font-size: 1.5em; */
}
.p-main {
  font-size: 0.8em;
}
.about-main {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.download-resume {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid red; */
  max-width: 500px;
  gap: 0.5em;
  padding: 0.5em 0;
}
.about-image-container {
  background-color: #c7c7c7;
  display: grid;
  place-content: center;
  /* max-width: 900px; */
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  padding: 1em;
  min-height: 500px;
  background: url("./assets/me/Stephen.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.about-image-skeleton {
  /* border: 1px solid red; */
  background-color: gray;
  /* max-width: 900px; */
  border-radius: 16px;
  margin: auto;
}
.about-image {
  max-width: 400px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  display: none;
}
.capabilities-text {
  font-weight: 400;
  line-height: 30px;
}
.capabilities-list {
  /* border: 1px solid red; */
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  max-width: 400px;
}
.capabilities-section {
  padding: 3em 0;
}
.capabilities-list--child {
  border: 1px solid gray;
  display: inline-block;
  border-radius: 23px;
  padding: 0.5em;
  /* max-width: 100px; */
}
.capabilities-title {
  font-size: 1.5em;
  padding: 0.5em 0;
}

/* * experience section */
.work-title-and-date {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
  color: #c7c7c7;
  /* font-size: 0.8em; */
  font-weight: 500;
}
.work {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.work-description {
  color: #c7c7c7;
  line-height: 30px;
  /* font-size: 0.em; */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.work-description-item {
  font-size: 0.9em;
}
.job {
  font-size: 0.7em;
}
.experience-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* ! media queries */
@media screen and (max-width: 832px) {
  .NavList-desktop {
    display: none;
  }
  .image-ham {
    width: 35px;
    display: block;
  }
  .NavList-mobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    height: 250px;
    right: 0;
    text-align: center;
    background-color: #161616;
    padding: 0.4em 0;
    border-radius: 8px;
    overflow: hidden;
  }

  .NavList-mobile .NavItem .NavLink {
    /* border: 1px solid blue; */
    width: 100%;
    padding: 0.5em;
    display: block;
  }
  .NavLink:link {
    color: #c7c7c7;
    text-decoration: none;
  }
  .NavLink:visited {
    color: #c7c7c7;
    text-decoration: none;
  }
  .NavLink:hover {
    color: #c7c7c7;
    text-decoration: none;
    background-color: rgb(18, 18, 18);
  }
  .NavItem {
    width: 100%;
  }
  .First {
    flex-direction: column;
    padding: 0;
    padding-bottom: 4em;
    align-items: flex-start;
  }
}

@media screen and (min-width: 450px) {
  .first-top {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .First-section {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    min-width: 400px;
  }
  .intro-contact {
    align-items: center;
    justify-content: center;
  }
  .header {
    max-width: 400px;
    margin: 0 auto;
  }
  .my-image {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .second-header {
    font-size: 2em;
  }
  .second-text {
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .about-main {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
  }
  .capabilities-title {
    min-width: 350px;
  }
  .about-text-main {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }
  .about-text-head-main {
    font-size: 1.5em;
  }
  .header {
    font-size: 2.5em;
    text-align: left;
    line-height: 60px;
    margin: 0;
  }
  .about-intro {
    text-align: left;
  }
  .intro-contact {
    /* border: 1px solid red; */
    margin-right: auto;
  }
  .First-section {
    margin-left: 0;
    /* border: 1px solid red; */
  }
  .capabilities-title {
    padding: 0;
  }
  .my-image {
    min-height: 500px;
  }
  .capabilities-section {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: start;
    /* border: 1px solid red; */
  }
  .capabilities-text {
    max-width: 600px;
  }
  .capabilities-title {
    font-size: 2.5em;
  }
  .work-title-and-date {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: flex-start;
  }
  .work {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .work-title-and-date {
    flex-direction: row;
  }
  .experience-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 30px;
  }
  .about-image-container {
    background-position: center;
  }
}

@media screen and (min-width: 900px) {
  .about-section {
    display: flex;
    padding: 3em 0;
    /* border: 1px solid red; */
    justify-content: space-between;
  }
  .about-text-head,
  .about-title {
    display: inline;
    font-weight: 400;
    font-size: 1.5em;
    /* border: 1px solid red; */
    /* min-width: 500px; */
  }
  .about-text {
    /* border: 1px solid red; */
  }
  .about-text-p {
    /* border: 1px solid red; */
  }
  .about-article {
    /* width: 100%; */
    width: 100%;
  }
  .about-text-head {
    font-size: 1.3em;
    font-weight: 800;
    line-height: 35px;
    margin-bottom: 0.5em;
  }
  .about-title {
    /* border: 1px solid blue; */
    width: 100%;

    display: flex;
    justify-content: flex-start;
    /* font-size: 4em; */
  }
  .about-title-head {
    font-size: 2em;
  }
  .connect {
    display: flex;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    padding: 2em 0;
  }
  .connect .connect-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 900px;
    /* min-width: 600px; */
    /* min-height: ; */
    /* flex-grow: 2; */
    /* border: 1px solid red; */
    /* flex-basis: 100%; */
    /* max-width: none; */
  }
  .form-child {
    width: 100%;
    /* border: red 1px solid; */
    /* border: 1px solid red; */
  }
  .Input {
    width: 100%;
  }
  .connect-body {
    display: flex;
    align-items: flex-start;
    /* min-width: 300px; */
    width: 100%;
    /* min-width: 300px; */
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 500px) {
  .connect-header {
    font-size: 2.5em;
  }
  .connect-body {
    /* border: 1px solid red; */
    /* min-width: 400px; */
  }
  /* .connect-text {
    font-size: 1.2em;
  } */
}
